{% extends "admin/layout.html" %}

{% block page %}
<h3>Add computer</h3>
<form action="/admin/computer/add" class="form-horizontal" method="post" enctype="multipart/form-data">

  <div class="form-group">
    <label for="type" class="col-sm-2 control-label">Type</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="type" id="type" placeholder="Type">
    </div>
  </div>

  <div class="form-group">
    <label for="price" class="col-sm-2 control-label">Price</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="price" id="price" placeholder="Price">
    </div>
  </div>

  <div class="form-group">
    <label for="cpu" class="col-sm-2 control-label">Cpu</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="cpu_id" id="cpu" placeholder="Id cpu">
    </div>
  </div>

  <div class="form-group">
    <label for="gpu" class="col-sm-2 control-label">Gpu</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="gpu_id" id="gpu" placeholder="Id gpu">
    </div>
  </div>

  <div class="form-group">
    <label for="ram" class="col-sm-2 control-label">Ram</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="ram" id="ram" placeholder="Ram">
    </div>
  </div>

  <div class="form-group">
    <label for="harddisk" class="col-sm-2 control-label">Harddisk</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="harddisk" id="harddisk" placeholder="Harddisk capacity">
    </div>
  </div>

  <div class="form-group">
    <label for="monitor" class="col-sm-2 control-label">Monitor</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="monitor" id="monitor" placeholder="Monitor size">
    </div>
  </div>

  <div class="form-group">
    <label for="image" class="col-sm-2 control-label">Image</label>
    <div class="col-sm-10">
      <input type="file" id="image" name="image">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Simpan</button>
    </div>
  </div>
</form>
{% endblock %}