{% extends "admin/layout.html" %}

{% block page %}
<a class="btn btn-primary" href="/admin/gpu/add" role="button">Tambah gpu</a>
<h2></h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>type</th>
            <th>memory</th>
            <th>speed</th>
            <th>action</th>
        </tr>
    </thead>
    <tbody>
        {% for gpu in gpus %}
        <tr>
            <td>{{ gpu.type}}</td>
            <td>{{ gpu.memory }}</td>
            <td>{{ gpu.speed }}</td>
            <td>
                <div class="btn-group btn-group-xs" role="group" aria-label="...">
                    <a class="btn btn-danger" href="/admin/gpu/delete/{{ gpu.type }}" role="button">delete</a>
                    <a class="btn btn-primary" href="/admin/gpu/update/{{ gpu.type }}" role="button">edit</a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}