{% extends "admin/layout.html" %}

{% block page %}
<h3>Add gpu</h3>
<form action="/admin/gpu/add", method="post">

  <div class="form-group">
    <label for="type">Type</label>
    <input type="text" class="form-control" name="type" id="type" placeholder="Type">
  </div>

  <div class="form-group">
    <label for="memory">Memory</label>
    <input type="text" class="form-control" name="memory" id="memory" placeholder="Memory">
  </div>

  <div class="form-group">
    <label for="speed">Speed</label>
    <input type="text"  class="form-control" name="speed" id="speed" placeholder="Speed">
  </div>
  <button type="submit" class="btn btn-default">Simpan</button>
</form>
{% endblock %}