{% extends "admin/layout.html" %}

{% block page %}
<a class="btn btn-primary" href="/admin/user/add" role="button">Tambah user</a>
<h2></h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Username</th>
            <th>Status</th>
            <th>action</th>
        </tr>
    </thead>
    <tbody>
        {% for administrator in administrators %}
        <tr>
            <td>{{ administrator.username }}</td>
            <td>{% if administrator.status == 1 %}super administrator{% endif %} {% if administrator.status == 2 %}administrator{% endif %}</td>
            <td>
                <div class="btn-group btn-group-xs" role="group" aria-label="...">
                    <a class="btn btn-danger" href="#" role="button">delete</a>
                    <a class="btn btn-primary" href="#" role="button">edit</a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}