{% extends "layout.html" %}

{% block page %}
<h3 xmlns="http://www.w3.org/1999/html">Sistem Pendukukan Keputusan Pembelian komputer</h3>
<div class="row">
    {% for comp in computers %}
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <div class="thumbnail">
                    <img src="/static/img/{{ comp.image }}" alt="...">
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <h3>{{ comp.type }}</h3>
                    <p>
                        price: <b>{{ comp.price }}</b>
                        ram: <b>{{ comp.ram }}</b><br>
                        harddisk: <b>{{ comp.harddisk }}</b>
                        monitor: <b>{{ comp.monitor}}</b><br>
                        --- <br>
                        cpu <b>{{ comp.cpu_obj.type }}</b>
                        core: <b>{{ comp.cpu_obj.core }}</b><br>
                        speed: <b>{{ comp.cpu_obj.speed }}</b>
                        cache: <b>{{ comp.cpu_obj.cache }}</b><br>
                        --- <br>
                        gpu <b>{{ comp.gpu_obj.type }}</b>
                        memory <b>{{ comp.gpu_obj.memory }}</b><br>
                        speed <b>{{ comp.gpu_obj.speed }}</b>
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}