<html>
<head>
    <title>Sistem pendukung keputusan </title>
    <link href="/static/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">
</head>
<body>

<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li>Hello</li>
        </ul>
    </div>

    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    {% block page %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/assets/jquery/jquery.min.js"></script>
<script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>